
h1,h2,h4,p{
    padding: 10px;
    text-align: center;
}

.box{
    border-radius: 20px;
    margin-left: 12.5vw;
    width: 75vw;
    padding: 5%;
    text-align: center;     
}

.messages-box{
    width: 75vw;
    margin-left: 12.5vw;
    text-align: center;
    border-radius: 10px;
    /* background-color: cornflowerblue; */
    padding: 5px;
}
.msg-box>h2{
    text-align: start;
}
.msg-box{
    /* border-radius: 15px 50px 30px;; */
    border-radius: 15px 50px;
    background-color: aquamarine;
}
.msg_body{
    font-size: large;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-txt{
    word-wrap: break-word;
}
.final-box{
    width: 75vw;
    margin-left: 12.5vw;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: bisque;
}