<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        {% csrf_token %}
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Name">
        <br>
        <br>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password">
        <br>
        <br>
        <label for="">Last Name</label>
        <input type="text" name="lname"placeholder="Last Name">
        <br>
        <br>
        <label for="">First Name</label>
        <input type="text" name="fname"placeholder="First Name">
        <br>
        <br>
        <button type="submit">Regiter</button>
    </form>
</body>
</html>